<!DOCTYPE html>
<html>
  <head>
    <title>Simple Player</title>
    <link rel="stylesheet" type="text/css" href="lib/normalize.css">
    <link rel="stylesheet" type="text/css" href="style/main.css">
    <script src="https://rdio.com/api/api.js?client_id=ppJo1acOvcWl8ZlpTnXUkA"></script>
<!--     <script src="https://rdio.com/api/api.js?client_id=rNY2oRVqkGg-spiojvdWEw"></script> -->
    <script src="lib/jquery-1.8.2.min.js"></script>
    <script src="lib/underscore-min.js"></script>
    <script src="js/main.js"></script>
    <script id="album-template" type="text/template">
      <div class="album">
        <div class="play btn"></div>
        <a href="http://rdio.com<%= url %>" target="_blank">
          <div class="icon" style="background-image: url(<%= icon %>)"></div>
        </a>
        <div class="title label"><%= name %></div>
        <div class="artist label"><%= artist %></div>
      </div>
    </script>
  </head>
  <body>
    <div class="no-rdio">
      <p>Unable to contact Rdio API.</p>
    </div>
    <div class="header">
      <div class="section">
        <img class="icon">
      </div>
      <div class="section">
        <button class="play">play</button>
        <button class="next">next</button>
        <button class="prev">previous</button>
      </div>
      <div class="section">
        <div class="track label">Not Playing</div>
        <div class="album-title label"></div>
        <div class="artist label"></div>
      </div>
    </div>
    <form class="search">
      Enter an artist or album name: 
      <input type="text"></input>
      <button type="submit">Search</button>
      <div class="error"></div>
    </form>
    <div class="results"></div>
  </body>
</html>
