<!DOCTYPE html>
<html>
  <head>
    <title>Playlist Albums</title>
    <link rel="stylesheet" type="text/css" href="../lib/normalize.css">
    <link rel="stylesheet" type="text/css" href="../utils/rdio-utils.css">
    <link rel="stylesheet/less" type="text/css" href="main.less">

    <!-- Register your app at http://www.rdio.com/developers/create/ and replace client_id below with yours  -->
    <script src="https://www.rdio.com/api/api.js?client_id=nCc2R4hHmxnUdPtnyHXY1A"></script>

    <script src="../lib/jquery-1.9.1.min.js"></script>
    <script src="../lib/underscore-1.4.4.min.js"></script>
    <script src="../lib/less-1.3.0.min.js"></script>
    <script src="../utils/rdio-utils.js"></script>
    <script src="main.js"></script>

    <script id="playlist-info-template" type="text/template">
      <p><%= name %> from <%= owner %></p>
    </script>

    <script id="user-playlists-template" type="text/template">
      <p><%= username %>'s playlists:</p>
      <ul>
        <% _.each(playlists, function(v, i) { %>
          <li><a href="<%= v.url %>"><%= v.name %></a></li>
        <% }); %>
      </ul>
    </script>

  </head>
  <body>
    <div class="header">
      <form class="url-form">
        Enter the URL for an Rdio playlist: <input class="url" type="text"><button>Go</button>
      </form>
      <form class="user-form">
        Or enter an Rdio username: <input class="user" type="text"><button>Go</button>
      </form>
    </div>
    <div class="content">
      <div class="albums">
      </div>
    </div>
  </body>
</html>
