<!DOCTYPE html>
<html>
  <head>
    <title>rdioUtils.collectionAlbums() Example</title>
    <link rel="stylesheet" type="text/css" href="../../../lib/normalize.css">
    <link rel="stylesheet" type="text/css" href="../../rdio-utils.css">
    <link rel="stylesheet/less" type="text/css" href="main.less">

    <!-- Register your app at http://www.rdio.com/developers/create/ and replace client_id below with yours  -->
    <script src="https://www.rdio.com/api/api.js?client_id=-LFd7RCqdvYrIgW58Vq_oA"></script>

    <script src="../../../lib/jquery-1.9.1.min.js"></script>
    <script src="../../../lib/underscore-1.4.4.min.js"></script>
    <script src="../../../lib/less-1.3.0.min.js"></script>
    <script src="../../rdio-utils.js"></script>
    <script src="main.js"></script>

    <script id="album-template" type="text/template">
      <p><%= prefix %> <a href="http://www.rdio.com<%= url %>" target="_blank"><%= name %></a> by <a href="http://www.rdio.com<%= artistUrl %>" target="_blank"><%= artist %></a></p>
    </script>

  </head>
  <body>
    <div class="auth"></div>
    <div class="log"></div>
  </body>
</html>
