<!DOCTYPE html>
<html>
  <head>
    <title>Tag View</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" type="text/css" href="lib/normalize.css">
    <link rel="stylesheet/less" type="text/css" href="style/main.less">

    <!-- Register your app at http://dev-beta.rdio.com/create/ and replace client_id below with yours  -->
    <script src="https://www.rdio.com/api/api.js?client_id=5n2zNHH6scJztHsgcRCiIg"></script>

    <script src="lib/jquery-1.9.1.min.js"></script>
    <script src="lib/modernizr.touch.js"></script>
    <script src="lib/underscore-1.4.4.min.js"></script>
    <script src="lib/backbone-min.js"></script>
    <script src="lib/spin.min.js"></script>
    <script src="lib/less-1.3.0.min.js"></script>
    <script src="lib/amplify.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/unauthenticated-view.js"></script>
    <script src="js/collection.js"></script>
    <script src="js/collection-view.js"></script>
    <script src="js/album.js"></script>
    <script src="js/album-view.js"></script>
    <script src="js/tag.js"></script>

    <script id="album-template" type="text/template">
      <span class="album">
        <div class="icon">
          <div class="buttons">
            <span class="play btn">Play Album</span>
            <a href="http://www.rdio.com<%= url %>" target="_blank" class="site btn">View on Rdio.com</a>
            <a href="<%= appUrl %>" class="app btn">View in Rdio app</a>
          </div>          
        </div>
        <div class="title label"><%= name %></div>
        <div class="artist label"><%= artist %></div>
      </span>
    </script>

    <script id="no-rdio-template" type="text/template">
      <p>Unable to contact Rdio API. Please try again later and/or <a href="mailto:ian@iangilman.com">let me know</a>.</p>
    </script>

    <script id="unauthenticated-template" type="text/template">
      <p>This app displays Last.fm tags for the albums in your Rdio collection and allows you to browse by tag.</p>
      <p>The first time it'll take a while loading all the tags, but then it stores them in your browser's local storage, so next time it'll be much faster.</p>
      <p>To get started, you'll have to <button id="authenticate">authorize</button>.</p>
    </script>

    <script id="collection-template" type="text/template">
      <div class="left-column tags">
        <div class="inner">
        </div>
      </div>
      <div class="left-column album-tags">
        <div class="inner">
        </div>
      </div>
      <div class="albums">
        <div class="inner">
        </div>
      </div>
    </script>

  </head>
  <body>
    <div id="content"></div>
  </body>
</html>
