<!DOCTYPE html>
<html>
  <head>
    <title>rdioUtils.localQueue() Example</title>
    <link rel="stylesheet" type="text/css" href="../../../lib/normalize.css">
    <link rel="stylesheet" type="text/css" href="../../rdio-utils.css">
    <link rel="stylesheet/less" type="text/css" href="main.less">

    <!-- Register your app at http://www.rdio.com/developers/create/ and replace client_id below with yours  -->
    <script src="https://www.rdio.com/api/api.js?client_id=ml2-KHIe4ZHiye2Ed6fmyQ"></script>

    <script src="../../../lib/jquery-1.9.1.min.js"></script>
    <script src="../../../lib/underscore-1.4.4.min.js"></script>
    <script src="../../../lib/less-1.3.0.min.js"></script>
    <script src="../../rdio-utils.js"></script>
    <script src="main.js"></script>

    <script id="playing-track-template" type="text/template">
      <div class="track">
        <div class="tr">
          <div class="td">
            <img src="<%= icon %>">
          </div>
          <div class="td for-labels">
            <div class="label"><%= tracks[0].name %></div>
            <div class="label"><%= name %></div>
            <div class="label"><%= artist %></div>
          </div>
        </div>
      </div>
    </script>

    <script id="queue-track-template" type="text/template">
      <div class="track">
        <div class="tr">
          <div class="td">
            <button class="play">Play</button>
          </div>
          <div class="td">
            <img src="<%= icon %>">
          </div>
          <div class="td for-labels">
            <div class="labels">
              <div class="label"><%= tracks[0].name %></div>
              <div class="label"><%= name %></div>
              <div class="label"><%= artist %></div>
            </div>
          </div>
          <div class="td for-buttons">
            <button class="top">^</button>
            <button class="remove">X</button>
          </div>
        </div>
      </div>
    </script>

  </head>
  <body>
    <p>This app plays through the first track of each of the albums in the new releases.</p>
    <div class="loading">Loading...</div>
    <div class="controls">
      <button class="toggle">Play</button>
      <button class="next">Next</button>
      <button class="skip">Skip to near end of track</button>
      <button class="clear">Clear</button>
      <p>Now Playing:</p>
      <div class="playing-track"></div>
      <p>Queue:</p>
      <div class="queue-tracks"></div>
    </div>
    <div class="log"></div>
  </body>
</html>
